@import "koloroj.css";

html {
    height: 100%;
    /* width: 100% */
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 120%;
    font-family: monospace; 
    /*font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;*/
}

nav {
    padding: 0;

    /*border: 1px solid blue;*/
    /*background-color: lightgoldenrodyellow;*/
}

/* https://www.w3schools.com/howto/howto_css_display_element_hover.asp 
...
    https://www.w3schools.com/howto/howto_js_popup.asp
    https://www.w3schools.com/howto/howto_js_collapsible.asp
*/
.nav_btn {
    display: none;
    position: absolute;
    z-index: 200;
    font-size: 150%;
    padding: 0.1em;
    text-shadow: 1px 1px silver;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;    
    background-color: var(--nav-bg-color);
    border-bottom-right-radius: 0.2em;
}
.nav_btn:hover {
    background-color: var(--highlight-bg-color);
    color: var(--highlight-color);
}

/*
.nav_btn:hover + ul {
    display: block;
    background-color: goldenrod;
}
*/
#nav_menu {
    display: inline-block;
    /*font-family: monospace;*/
    overflow-y: scroll;
    height: 100%;

    /*padding-inline-start: 0;*/    
    padding: 0.5em; 
    background-color: var(--nav-bg-color);
    z-index: 100;
    box-shadow: 1px 1px 2px;

    margin: 0;
    padding-top: 2.2em;
    padding-right: 0.5em;
}

#nav_menu>a {
    margin: 0.5em 0em;
    max-width: 95%
}

#nav_menu>ul  {
    margin: 0.3em;    
    margin-right: 0;
    max-width: 95%;
}

#nav_menu>ul>li {
    margin-top: 1em !important;
}

#nav_menu br {
    display: none;
}

@media all and (max-width: 70em) {
    .nav_btn {
        display: block;
    }
    #nav_menu {
        position: absolute;
        min-width: 16em;
        max-width: 24em;
        /* Kaŝu navigadon 
        font: 0/0 serif;   
        z-index: -1;
        */
        display: none;
        box-shadow: 5px 5px 20px;
    }
}

/*
nav li {
    list-style-type: none;
    padding-left: 2em;
    padding-right: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 100%;
    letter-spacing: .09rem;
    text-transform: uppercase;
}

*/

nav p {
    line-height: 220%;
}

nav li, li>a, #nav_menu>a, p>a {
    display: block;
    width: 100%
}

/*
#nav_menu>a, li a, 
*/ 

nav a {
    border-radius: 4px;
    padding: 0.3em 0.5em; 
    text-decoration: none;
    color: black;
    /*border-left: 3px dotted lightgoldenrodyellow;*/
    border: 1px solid var(--nav-bg-color);
    box-shadow: 1px 1px 3px;
}

nav p a {
    max-width: 95%;
    margin-top: 0.3em;
    background-image: linear-gradient(darkgoldenrod 10%, goldenrod 60%, #FAC540 100% );
    /*border-left: 3px dotted lightgoldenrodyellow;*/
    border: 1px solid var(--nav-bg-color);
    box-shadow: 1px 1px 3px;
}

nav li a {
    /*max-width: 95%;*/
    border-radius: 4px;
    padding: 0.3em; 
    margin-top: 0.3em;
    text-decoration: none;
    color: black;
    /*border-left: 3px dotted lightgoldenrodyellow;*/
    border: 1px solid var(--nav-bg-color);
    box-shadow: 1px 1px 3px;
}

nav a:focus {
    outline: 2px dotted var(--highlight-bg-color) !important;
}

nav a:hover, a:focus {
    background-color: var(--highlight-bg-color);
    background-image: none;
    color: var(--highlight-color);
}

nav a:active {
    background-color: var(--active-bg-color);
    color: var(--highlight-color);
    background-image: none;
    border: 1px solid var(--active-border-color);
    box-shadow: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*border: 1px solid green;*/
}

header {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 3.5em;
    /*border: 1px dotted red;*/
}

footer {
    flex-grow: 0;
    text-align: center;
    /*border: 1px dotted red;*/
}


#s_artikolo {
    margin-left: 1em;
    margin-right: 1em;
    font-family: serif;
}

#s_sercho {
    flex-grow: 1;
    text-align: center;
    margin-top: 1em;
    /*border: 1px dotted red;*/
}

#sercho {
    text-align: center;
}

#sercho_ek {
    font-size: 200%;
}

/*
#sercho input {
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.3em;
}*/

#trovoj {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px dotted green; */
}

#trovoj table {
    min-width: 48%;
    padding: 1em;
    margin: auto;
    /* margin-right: 1em; */
    border-collapse: separate;
    border-spacing: 0 0.3em;
}

#trovoj td {
    padding: 0.5em;
    /*border-bottom: 1px solid gray;*/
}

#trovoj td:first-child {
    background-color: var(--list1-bg-color);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: 2px solid gainsboro;
}

#trovoj td:nth-child(2) {
    background-color: var(--list2-bg-color);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    /*border-bottom: 1px solid gray;*/
}

#trovoj td:nth-child(2):hover {
    background-color: var(--list2-highlight-bg-color);
    color: var(--highlight-color);
}

#lng, #kat {
    width: 3em;
}

.cirklo {
    height: 1.1em;
    width: 1.1em;
    font-size: 400%;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px silver;
    padding: 0.2em;
    text-align: center;
/*                vertical-align: middle; 
    border: 1px hidden darkblue;*/
    border-radius: 50%;
    border: 2px solid gray;
/*                background-color: gainsboro; */
    background-color: var(--button-bg-color);
    background-image: radial-gradient(at 49.5% 49.5%, darkgoldenrod 20%, goldenrod 60%, khaki 80%);
    box-shadow: 10px 10px 20px;
    /* opacity: 0.9; */
    position: relative;
}
.cirklo.R { top: 0em; }
.cirklo.E { z-index: 10; top: 0.6em; left: -0.2em; }
.cirklo.V { z-index: 5; top: 0.25em; left: -0.3em; }
.cirklo.O { top: 0.5em; left: -0.4em; }

@media all and (max-width: 50em) {
    #serchteksto { width: 70% }
}
@media all and (max-height: 50em) {
    header { margin-bottom: 1.5em }
    .cirklo { font-size: 280% }
}
@media all and (max-width: 30em) {
    header { padding-left: 1.8em; margin-right: -0.4em }
    .cirklo { font-size: 250% }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    /*
    height: 38px;
    padding: 0 30px;
    font-size: 11px;
    line-height: 38px;
    */
    font-size: 133%;
    background-color: goldenrod;
    background-image: radial-gradient(at 49.5% 49.5%, darkgoldenrod 20%, goldenrod 60%, khaki 80%);
    box-shadow: 4px 4px 8px;
    border-radius: 2em;
    border: 2px solid gray;
    cursor: pointer;
    box-sizing: border-box; 

    text-align: center;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    box-shadow: 2px 2px 4px darkslategray;
    background-image: none;    
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    /*height: 38px;*/
    height: 2.4em;
    /*padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    padding: 0.3em 0.6em;
    background-color: var(--input-bg-color);
    color: var(--input-color);
    border: 2px solid darkgray;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; 
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; 
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 2px dashed darkgoldenrod;
    outline: 0; 
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; 
}

fieldset {
    padding: 0;
    border-width: 0; 
}

input[type="checkbox"],
    input[type="radio"] {
    display: inline; 
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; 
}



/*
.revo_btn {border-radius: 2em; width: 4em; height:4em; 
    border: 1px solid red; background: silver; font-size: 200%; 
    text-align:center; }
.revo_btn a { vertical-align: middle; padding: 1em; margin: 1em} 
*/